In [6]:
import pandas as pd
import numpy as np

In [7]:
def excessCostForCommodityType(filename):
    import pandas as pd
    import numpy as np
    import re
    columns=['Site','Commodity Type', 'Excess Cost','Total Excess']
   
    data_values = []
    
    inventoryDataFrame=pd.DataFrame(filename)
    
    # removing the commas
    
    inventoryDataFrame['Current Balance'] = inventoryDataFrame['Current Balance'].replace(to_replace =",", value = '', regex = True) 

    inventoryDataFrame['Minimum Level Adjusted'] = inventoryDataFrame['Minimum Level Adjusted'].replace(to_replace =",", value = '', regex = True) 

    inventoryDataFrame['Minimum Level Adjusted'] = inventoryDataFrame['Minimum Level Adjusted'].replace(to_replace =",", value = '', regex = True) 

    inventoryDataFrame['Average Cost'] = inventoryDataFrame['Average Cost'].replace(to_replace =",", value = '', regex = True) 

    # converting to float for calculations
    
    inventoryDataFrame['Average Cost'] = inventoryDataFrame['Average Cost'].astype(float)

    inventoryDataFrame['Minimum Level Adjusted'] = inventoryDataFrame['Minimum Level Adjusted'].astype(float)

    inventoryDataFrame['Maximum Level Adjusted'] = inventoryDataFrame['Maximum Level Adjusted'].astype(float)

    inventoryDataFrame['Current Balance'] = inventoryDataFrame['Current Balance'].astype(float)
    site=inventoryDataFrame['Site'].unique()
    commodity_type=list(inventoryDataFrame['Commodity Group'].unique())
    rigs_data=[]*len(site)
    # excess inventory
    for Site in site:
        inventoryDataFrame['Excess Inventory']=inventoryDataFrame['Current Balance']-inventoryDataFrame['Minimum Level Adjusted']

        RigsExcessInventoryCount=inventoryDataFrame.loc[inventoryDataFrame['Excess Inventory'] >0, 'Excess Inventory'].sum()

        #excess cost
        inventoryDataFrame['Excess Cost']= inventoryDataFrame['Average Cost']* inventoryDataFrame['Excess Inventory']

        RigsExcessCostSumMaxND=(inventoryDataFrame.loc[(inventoryDataFrame['Excess Cost'] >0) & (inventoryDataFrame['Maximum Level Adjusted'] !=0) &(inventoryDataFrame['Site']==Site),'Excess Cost'].sum())


        RigCommodityExcessCostSumMaxND=[]
        for commodity in commodity_type:
           # print(commodity)
            Excess_cost_for_commodity=(inventoryDataFrame.loc[(inventoryDataFrame['Excess Cost'] >0) & (inventoryDataFrame['Maximum Level Adjusted'] !=0)&(inventoryDataFrame['Commodity Group']==commodity)&(inventoryDataFrame['Site']==Site),'Excess Cost'].sum())
            #print(Excess_cost_for_commodity)
            
            data_values.append([Site,commodity,Excess_cost_for_commodity,RigsExcessCostSumMaxND])
            #print(data_values)
            
        
        rig_data_frame = pd.DataFrame(data_values, columns=columns)
        
    
    return (rig_data_frame)

In [8]:
rigs_name=pd.read_csv("SeadrillRigs.csv")

In [9]:
Group1=pd.read_csv("Group_1_min_max_adjust_simple.csv")
Group2=pd.read_csv("Group_2_min_max_adjust_simple.csv")
Group3=pd.read_csv("Group_3_min_max_adjust_simple.csv")
Group4=pd.read_csv("Group_4_min_max_adjust_simple.csv")

In [10]:
Group1.head()

,Item,Site,Minimum Level,Maximum Level,Minimum Level Adjusted,Maximum Level Adjusted,Average Cost,Commodity Group,Current Balance,Group_ID
0,1001704,2314,2.0,4.0,2.0,4.0,32.35,CON,4,Group_1
1,1001704,2315,5.0,10.0,2.0,7.0,32.35,CON,10,Group_1
2,1005597,2313,2.0,8.0,1.0,7.0,136.53,CON,2,Group_1
3,1005597,2315,1.0,2.0,1.0,2.0,130.17,CON,2,Group_1
4,1008592,2313,1.0,2.0,1.0,2.0,69.00,ESP,2,Group_1

In [11]:
Group1_excess_cost=excessCostForCommodityType(Group1)

In [12]:
Group1_excess_cost_Min_max_simple=pd.merge(Group1_excess_cost, rigs_name, left_on='Site', right_on='ID', how='left').drop('ID', axis=1)

In [13]:
Group1_excess_cost_Min_max_simple.to_csv("Group1_excess_cost_Min_max_simple.csv",index=False)

In [14]:
Group2_excess_cost=excessCostForCommodityType(Group2)

In [15]:
Group2_excess_cost_Min_max_simple=pd.merge(Group2_excess_cost, rigs_name, left_on='Site', right_on='ID', how='left').drop('ID', axis=1)

In [16]:
Group2_excess_cost_Min_max_simple.to_csv("Group2_excess_cost_Min_max_simple.csv",index=False)

In [17]:
Group3_excess_cost=excessCostForCommodityType(Group3)

In [18]:
Group3_excess_cost_Min_max_simple=pd.merge(Group3_excess_cost, rigs_name, left_on='Site', right_on='ID', how='left').drop('ID', axis=1)

In [19]:
Group3_excess_cost_Min_max_simple.to_csv("Group3_excess_cost_Min_max_simple.csv",index=False)

In [20]:
Group4_excess_cost=excessCostForCommodityType(Group4)

In [21]:
Group4_excess_cost_Min_max_simple=pd.merge(Group4_excess_cost, rigs_name, left_on='Site', right_on='ID', how='left').drop('ID', axis=1)

In [22]:
Group4_excess_cost_Min_max_simple.to_csv("Group4_excess_cost_Min_max_simple.csv",index=False)